.navbar {
    background: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fix the navbar to the top */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  /* Navbar navigation list */
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  /* Navbar links */
  .nav-item .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  /* Active navbar link */
  .nav-item .nav-link.active {
    font-size: 20px;
    color: #457eff;
  }
  
  /* Styling for the login button */
  .nav-item.login-button {
    position: absolute; /* Position the login button absolutely */
    right: 100px; /* Align it to the right side */
    top: 20px; /* Set some space from the top */
  }
  
  /* Styling for the login link */
  .nav-item.login-button .nav-link {
    font-size: 17px;
    color: #457eff;
    padding: 5px 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for the login button */
  .nav-item.login-button .nav-link:hover {
    background-color: #457eff;
    color: #fff;
  }
  



 /* Styling for the form */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background: hsl(0, 0%, 97%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(247, 246, 246, 0.1);
    margin-top: 150px;
  }
  h2{
    margin-left: 100px;
  }
  
  /* Input fields styling */
  .user-box {
    position: relative;
    margin-bottom: 30px;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none; /* Removed border */
    border-bottom: 2px solid #ccc; /* Added a subtle bottom border */
    border-radius: 0; /* No rounded corners */
    outline: none;
    transition: all 0.10s ease;
  }
  
  .user-box label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
    font-size: 16px;
    transition: 0.3s ease;
  }
  
  /* Focus state for input fields */
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -10px;
    left: 10px;
    color: #457eff;
    font-size: 12px;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .error {
    border-bottom: 2px solid red; /* Red border for invalid fields */
  }
  
  /* Submit button */
  button {
    padding: 10px 20px;
    background: #457eff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  
.footer {
  background-color: #333;
  color: white;
  border: 1px solid #ddd;
  text-align: center;
  padding: 30px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
