
<div class="home">
<nav class="navbar">
    <div class="container">
        <div class="left-nav">
            <a class="nav-link active" href="jobs.html">RevHire</a>
          </div>
       <div class="auth-buttons">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" href="#"></a></li>
            <li class="nav-item"><a class="nav-link active" href="#"></a></li>
        </ul> 
            <button class="btn btn-outline-primary" (click)="toggleLoginForm()">Login</button>

            <div id="login-container" *ngIf="showLoginForm">
                <div class="login-box">
                  <h2>Login</h2>
                  <form (ngSubmit)="login()" #loginForm="ngForm">
                    
                    <!-- Email Field -->
                    <div class="user-box">
                      <input 
                        type="email" 
                        name="email" 
                        [(ngModel)]="email" 
                        required 
                        email 
                        #emailInput="ngModel">
                      <label>Email</label>
                      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
                        <small>Email is required and must be valid</small>
                      </div>
                    </div>
              
                    <!-- Password Field -->
                    <div class="user-box">
                      <input 
                        type="password" 
                        name="password" 
                        [(ngModel)]="password" 
                        required 
                        minlength="6" 
                        #passwordInput="ngModel">
                      <label>Password</label>
                      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
                        <small>Password must be at least 6 characters</small>
                      </div>
                    </div>
              
                    <!-- Forgot Password link above the submit button -->
                    <a routerLink="/jobseeker/jobseekerforgotpassword" class="forgot-password">Forgot Password</a>
              
                    <!-- Submit Button -->


                    <div>
                        <button type="submit" [disabled]="loginForm.invalid">Login</button>
                      </div>
                  </form>
                </div>
              </div>
              
              
    <button class="btn btn-success"><a routerLink="/jobseeker/jregister">Register</a></button>
    <div class="vertical-line"></div>

            <div class="dropdown">
                <button class="btn1">Employer</button>
                <div class="dropdown-content">
                  <a routerLink="/employee/empregister">Register</a>
                  <a routerLink="/employee/emplogin">Login</a>
                </div>
              </div>
              
        </div>
    </div>
</nav>

<div class="body-background">
    <header class="header">
        <h1>Find your dream job now</h1>
        <p>5 lakh+ jobs for you to explore</p>
    </header>
    <div class="search-wrapper">
        <div class="logo-container">
            <img src="https://static.naukimg.com/s/7/103/i/search.9ec0e1ac.svg" id="searchIcon" alt="Search Icon">
            <input type="text" placeholder="Enter Skills / designations / companies" id="input1">
            <div class="divider"></div>
            <input type="text" placeholder="Enter location" id="input2">
            <div class="divider"></div>
            <select id="input3">
                <option value="" hidden>Select Experience</option>
                <option value="1">Freshers</option>
                <option value="2">1 year</option>
                <option value="3">2 years</option>
                <option value="4">3 years</option>
                <option value="5">4 years</option>
                <option value="6">5 years</option>
            </select>
            <input type="submit" class="search-btn" value="Search"  (click)="onSearchClick($event)">
        </div>
    </div>
</div>



     <div id="Slidhsow-container">
            <h4 id="trendHead">Trending on RevHire Today</h4>
            <div id="main-slider">
                
               
                <div class="slide" id="c1" onclick="window.open('https://www.youtube.com/','mywindow');"
                    style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://static.naukimg.com/s/0/0/i/trending-naukri/remote.svg">
                    </div>
                    <div class="text">
                        <h6>Remote </h6>
                        <p>5.3k + jobs</p>
                    </div>
                </div>
                <div class="slide" id="c2" onclick="window.open('https://www.youtube.com/','mywindow');"
                    style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://static.naukimg.com/s/0/0/i/trending-naukri/mnc.svg">
                    </div>
                    <div class="text">
                        <h6>MNC</h6>
                        <p>19.3k+ jobs</p>
                    </div>
                </div>

                <div class="slide" id="c3" onclick="window.open('https://www.youtube.com/','mywindow');"
                    style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://static.naukimg.com/s/0/0/i/trending-naukri/engineering.svg">
                    </div>
                    <div class="text">
                        <h6>Engineering</h6>
                        <p>16.3k +jobs</p>
                    </div>
                </div> 
            </div>
            <h4 style="text-align: center;">Featured companies actively hiring</h4>
 
            <!-- ---2nd Slider - -->
            <div id="main-slider">
                <!-- --left arrow   -->
               
                 <div class="slide" id="d1" style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://img.naukimg.com/logo_images/groups/v2/226728.gif">
                    </div>
                    <div class="text">
                        <h6>L&amp;T Infotech (LTI) </h6>
                        <p>3.4 reviews</p>
                    </div>
                    <a href="http://example.com">
                        <span class="linkSpanner"></span>
                    </a>
                </div>
                <div class="slide " id="d2" style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://img.naukimg.com/logo_images/groups/v2/58550.gif">
                    </div>
                    <div class="text">
                        <h6>FIITJEE</h6>
                        <p>3.5 reviews</p>
                    </div>
                </div>

                <div class="slide" id="d3" style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://img.naukimg.com/logo_images/groups/v2/1288.gif">
                    </div>
                    <div class="text">
                        <h6>Capgemini</h6>
                        <p>16.3k +reviews</p>
                    </div>
                </div>
                <div class="slide" id="d4" style="cursor: pointer; display: inline-block;">
                    <div class="images">
                        <img src="https://img.naukimg.com/logo_images/groups/v2/419316.gif">
                    </div>
                    <div class="text">
                        <h6>Software &amp;It</h6>
                        <p>204.5k + reviews</p>
                    </div>
                </div>
                

 
            </div> 
</div>